@model MVCReviewSite.Models.Review

@{
	ViewBag.Title = "Details";
}

<div class="gold-border spaced-box">
	<div class="well gold-box">
		<h2>Details</h2>
	</div>
</div>

<div class="outer-border spaced-box">
	<div class="row gold-box">
		<h4 class="center-text">Review</h4>
		<hr />
		<div class="row details-box">
			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.Category.Name)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.Category.Name)
			</div>

			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.Title)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.Title)
			</div>

			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.Rating)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.Rating)
			</div>

			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.ReviewerName)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.ReviewerName)
			</div>

			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.PublishDate)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.PublishDate)
			</div>

			<div class="col-xs-2">
				@Html.DisplayNameFor(model => model.Content)
			</div>
			<div class="col-xs-12 col-sm-10">
				@Html.DisplayFor(model => model.Content)
			</div>
			<div class="col-xs-12">
				<p>
					@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
					@Html.ActionLink("Back to List", "Index")
				</p>
			</div>
		</div>

	</div>
</div>

